h1 { 
    font-family: Consolas, monaco, monospace; 
    font-size: 28px; font-style: normal; 
    font-variant: normal; font-weight: 700; 
    line-height: 26.4px; 
} 
a {
	color: inherit;
	text-decoration: none;
	border-bottom: 1px dashed #aaa
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

h2 { 
    font-family: Consolas, monaco, monospace; 
    font-size: 24px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
    
}  
h3 { 
    font-family: Consolas, monaco, monospace; 
    font-size: 14px; font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 15.4px; 
} 
p { 
    font-family: Consolas, monaco, monospace; 
    font-size: 17px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 20px; 
} 
blockquote { 
    font-family: Consolas, monaco, monospace; 
    font-size: 21px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 30px; 
} 
pre { 
    font-family: Consolas, monaco, monospace; 
    font-size: 13px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 400; 
    line-height: 18.5714px; 
}

.Home_container__3sao- {
	padding: 0 .5rem;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center
}

.Home_intro__3xW-O {
	text-align: center
}

.Home_main__1Z1aG {
	padding: 5rem 0;
	-webkit-flex: 1 1;
	-moz-box-flex: 1;
	flex: 1 1;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center
}

.Home_main__1Z1aG,
.Home_sections__3G_SN {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center
}

.Home_sections__3G_SN {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-align-items: flex-start;
	-moz-box-align: start;
	align-items: flex-start;
}

.Home_sections__3G_SN section {
	margin: 0 20px;
	min-width: 200px;
}

.Home_avatar__LWcjd {
	border-radius: 50%;
	width: 177px;
	height: 177px;
	margin-bottom: 10px
}

.Home_footer__2v49s {
	width: 100%;
	height: 100px;
	border-top: 1px solid #eaeaea;
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center
}

.Home_tick__VA679 {
	width: 25px;
	height: 25px
}

.Home_list__3A6Ue {
	list-style: none;
	padding: 0
}

.Home_list__3A6Ue li {
	margin: 10px 0
}

.Home_footer__2v49s a {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	flex-grow: 1
}

.Home_title__28pEg a {
	color: #0070f3;
	text-decoration: none
}

.Home_title__28pEg a:active,
.Home_title__28pEg a:focus,
.Home_title__28pEg a:hover {
	text-decoration: underline
}

.Home_title__28pEg {
	margin: 0;
	line-height: 1.15;
	font-size: 36px;
}

.Home_description__3GmI3,
.Home_title__28pEg {
	text-align: center
}

.Home_description__3GmI3 {
	line-height: 1.5;
	font-size: 1.5rem
}

.Home_code__2X25X {
	background: #fafafa;
	border-radius: 5px;
	padding: .75rem;
	font-size: 1.1rem;
	}

.Home_grid__QT_Bm {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	justify-content: center;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 800px;
	margin-top: 3rem
}

.Home_card__PT3hq {
	margin: 1rem;
	padding: 1.5rem;
	text-align: left;
	color: inherit;
	text-decoration: none;
	border: 1px solid #eaeaea;
	border-radius: 10px;
	-webkit-transition: color .15s ease, border-color .15s ease;
	transition: color .15s ease, border-color .15s ease;
	width: 45%
}

.Home_card__PT3hq:active,
.Home_card__PT3hq:focus,
.Home_card__PT3hq:hover {
	color: #0070f3;
	border-color: #0070f3
}

.Home_card__PT3hq h2 {
	margin: 0 0 1rem;
	font-size: 1.5rem
}

.Home_card__PT3hq p {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1.5
}

.Home_logo__3GqVp {
	height: 1em;
	margin-left: .5rem
}

@media(max-width:900px) {
	.Home_grid__QT_Bm {
		width: 100%;
		-webkit-flex-direction: column;
		-moz-box-orient: vertical;
		-moz-box-direction: normal;
		flex-direction: column;
		align-items: center;
	}
	.Home_sections__3G_SN {
		margin-left: 40px;
	}
}

.Home_subtitle__3IlVB {
	color: #8d8d8d;
	font-size: 12px;
	margin: 3px 0
}

.Home_issue-container__3tREi {
	max-width: 600px;
	margin: 0 auto;
	width: 100%
}

.Home_issue-container__3tREi .Home_issue-line__1uydt {
	width: 100%;
	display: block;
	margin: 20px 0;
	border-bottom: 0;
	padding: 10px;
	border-radius: 10px
}


.Home_issue-container__3tREi .Home_issue-line__1uydt .Home_issue-source__1xn6F {
	background: #4994ec;
	color: #fff;
	padding: 2px 8px;
	display: inline-block;
	border-radius: 10px;
	font-size: 12px;
	font-weight: 700
}

.Home_issue-container__3tREi .Home_issue-line__1uydt .Home_issue-header__2tZ5f {
	display: -webkit-flex;
	display: -moz-box;
	display: flex;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	justify-content: space-between;
	-webkit-align-items: center;
	-moz-box-align: center;
	align-items: center
}

.Home_issue-container__3tREi .Home_issue-line__1uydt .Home_issue-title__AM-Oy {
	font-size: 22px;
	font-weight: 700;
	margin: 5px 0
}

.Home_issue-container__3tREi .Home_issue-line__1uydt .Home_issue-date__gV4SZ {
	font-size: 12px;
	font-weight: 700;
	color: #888
}

.Home_issue-container__3tREi .Home_issue-line__1uydt .Home_issue-snippet__2da0n {
	font-size: 14px;
	color: #888;
	overflow: hidden;
	text-overflow: ellipsis
}

/*
@media(prefers-color-scheme:dark) {
	.Home_subtitle__3IlVB {
		color: #ccc;
		font-size: 12px;
		margin: 5px 0
	}
	.Home_issue-container__3tREi .Home_issue-line__1uydt:hover {
		background: #222
	}
	.Home_issue-container__3tREi .Home_issue-line__1uydt .Home_issue-snippet__2da0n {
		color: #aaa
	}
}*/
